@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
    background: #373737;
    font-family: "Raleway", sans-serif;
}

.app {
    max-width: 375px;
    height: 755px;
    margin: 1% auto;
    background: #fff;
}

.card {
    padding: 36px;
    cursor: pointer;
}


.App {
  text-align: center;
}


body {
  background: #373737;
  font-family: "Raleway", sans-serif;
}

#app {
  max-width: 375px;
  height: 755px;
  margin: 1% auto;
  background: #fff;
}

#app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10.5px;
  padding-bottom: 9.5px;
  box-shadow: 0px 0px 34px rgba(152, 163, 207, 0.2);
}

.title {
  display: flex;
  align-items: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #1C1C1C;
}

#counter {
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -1px;
  color: #98A3CF;
}


.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #98A3CF;
  box-shadow: 0px 20px 34px rgba(152, 163, 207, 0.3);
  border-radius: 50px;
  border: none;
  transition: transform 0.2s ease-in-out;
}


.add-button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.add-button:hover {
  transform: scale(1.1);
}

.card {
  background: red;
  padding: 36px;
  cursor: pointer;
} 