@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
    background: #373737;
    font-family: "Raleway", sans-serif;
}

.app {
    max-width: 375px;
    height: 100%;
    margin: 1% auto;
    background: #fff;
    padding-bottom: 30px;
}

.App {
  text-align: center;
}


body {
  background: #373737;
  font-family: "Raleway", sans-serif;
}

.app {
  max-width: 375px;
  min-height: 800px;
  margin: 1% auto;
  background: #fff;
}

#app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10.5px;
  padding-bottom: 9.5px;
  box-shadow: 0px 0px 34px rgba(152, 163, 207, 0.2);
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #1C1C1C;
}

#counter {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #98A3CF;
  margin-left: 10px;
  padding-bottom: 3px;
}


.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #98A3CF;
  box-shadow: 0px 20px 34px rgba(152, 163, 207, 0.3);
  border-radius: 50px;
  border: none;
  transition: transform 0.2s ease-in-out;
}


.add-button svg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.add-button:hover {
  transform: scale(1.1);
}

.card {
  position: relative;
  padding: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  max-height: 300px;
  box-shadow: 0px 20px 34px rgba(152, 163, 207, 0.3);
  border-radius: 16px;
  padding-top: 55px;
  cursor: pointer;
}

.card.read-mode {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 20px 34px rgba(152, 163, 207, 0.3);
  border-radius: 16px;
  padding-top: 55px;
  padding-bottom: 62px;
  cursor: pointer;
}

.card.read-mode  p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.card.back p {
text-align: start;
}

.card input, .card p {
  width: 100%;
  border-bottom: 1px solid #98A3CF;
  color: inherit; 
  border-top: none; 
  border-left: none; 
  border-right: none; 
  padding: 8px;
  font-family: "Raleway", sans-serif;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}


.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.btn-1 {
  width: 110px;
  height: 34px;
  color: #98A3CF;
  background: #FFFFFF;
  border: 1px solid #98A3CF;
  border-radius: 30px;
}

.btn-2 {
  width: 110px;
  height: 34px;
  color: #fff;
  background: #98A3CF;
  border-radius: 32px;
  border: 1px solid #98A3CF;
}

.card-word {
  position: absolute;
  top: 16px;
  left: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #98A3CF;
}

.trash-icon {
  position: absolute;
  top: 6px;
  left: 146px;
  color: #98A3CF;
  cursor: pointer;
}

.pencil-icon {
  position: absolute;
  top: 6px;
  left: 145px;
  color: #98A3CF;
  cursor: pointer;
}

.cards-list {
  color: #98A3CF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-top: 16px;
}

.flip-card {
  perspective: 1000px;
}

.react-card-flip {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.react-card-back {
  transform: rotateY(180deg);
}


